<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Car Price Predictor</title>
  </head>

  <body class="bg-dark">
     <div class="container">
       <div class="row">
         <div class="card mt-50" style="width: 100%; height: 100%">
            <div class="card-header" style="text-align: center">
              <h1>Welcome to Car Price Predictor</h1>
            </div>

           <div class="card-body">
                <div class="col-12" style="text-align: center">
                    <h5>This app predicts the price of a car you want to sell. Try filling the details below: </h5>
                </div>
             <br>
             <form method="post" action="#" accept-charset="utf-8">

               <div class="col-10 form-group" style="text-align: center">
                 <label><b>Select Car name: </b></label>
                 <select class="selectpicker form-control" id="car_name" name="car_name" required="1">
                 {% for name in car_name %}
                    <option value="{{ name }}">{{ name }}</option>
                   {% endfor %}
                 </select>
               </div>

               <div class="col-10 form-group" style="text-align: center">
                 <label><b>Select Year of Purchase: </b></label>
                 <select class="selectpicker form-control" id="year" name="year" required="1">
                 {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                   {% endfor %}
                 </select>
               </div>

               <div class="col-10 form-group" style="text-align: center">
                 <label><b>Select Fuel_Type: </b></label>
                 <select class="selectpicker form-control" id="fuel_type" name="fuel_type" required="1">
                  {% for fuel_type in fuel_types %}
                    <option value="{{ fuel_type }}">{{ fuel_type }}</option>
                   {% endfor %}
                 </select>
               </div>

               <div class="col-10 form-group" style="text-align: center">
                 <label><b>Select Seller_Type: </b></label>
                 <select class="selectpicker form-control" id="seller_type" name="seller_type" required="1">
                  {% for seller_type in seller_types %}
                    <option value="{{ seller_type }}">{{ seller_type }}</option>
                   {% endfor %}
                 </select>
               </div>

                <div class="col-10 form-group" style="text-align: center">
                 <label><b>Select Transmission of the car: </b></label>
                 <select class="selectpicker form-control" id="trans" name="trans" required="1">
                  {% for tran in trans %}
                    <option value="{{ tran }}">{{ tran }}</option>
                   {% endfor %}
                 </select>
               </div>


               <div class="col-10 form-group" style="text-align: center">
                 <label><b>Enter the number of Kilometers travelled: </b></label>
                 <input class="form-control" type="text" id="kilo_driven" name="kilo_driven" placeholder="Enter the number of Kilometers travelled">
               </div>

               <div class="col-10 form-group" style="text-align: center">
                 <label><b>Enter the Current Price of the car(in Lakhs): </b></label>
                 <input class="form-control" type="text" id="curr_price" name="curr_price" placeholder="Enter the Current Price of the car">
               </div>

               <div class="col-10 form-group" style="text-align: center">
                 <label><b>Enter the number of owners of the car: </b></label>
                 <input class="form-control" type="text" id="owner" name="owner" placeholder="Enter the number of owners of the car">
               </div>

               <div class="col-10 form-group" style="text-align: center">
                <button class="btn btn-primary form-control" onclick="send_data()">Predict Price</button>
               </div>


             </form>
             <br>
             <div class="row">
                    <div class="col-12" style="text-align: center">
                        <h4><span id="prediction"></span></h4>
                    </div>
             </div>

           </div>

         </div>

       </div>


     </div>

     <script>


    function form_handler(event)
    {
      event.preventDefault();
    }

    function send_data()
    {
        document.querySelector('form').addEventListener("submit",form_handler);

        var fd=new FormData(document.querySelector('form'));

        var xhr= new XMLHttpRequest({mozSystem: true});

        xhr.open('POST','/predict',true);
        document.getElementById('prediction').innerHTML="Wait! Predicting Price.....";
        xhr.onreadystatechange = function(){
            if(xhr.readyState == XMLHttpRequest.DONE){
                document.getElementById('prediction').innerHTML="Prediction(in Lakhs): ₹"+xhr.responseText;

            }
        };

        xhr.onload= function(){};

        xhr.send(fd);
    }






     </script>

         <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

  </body>
</html>


